<style>
              * {
                            box-sizing: border-box;
              }

              body {
                            font-family: Arial, Helvetica, sans-serif;
                            background-color:gray;
              }

              /* Style the header */
              header {
                            padding: 30px;
                            text-align: ;
                            font-size: 35px;
                            color: black;
              }

              /* Container for flexboxes */
              section {
                            display: -webkit-flex;
                            display: flex;
              }

              /* Style the navigation menu */
              nav {
                            -webkit-flex: 1;
                            -ms-flex: 1;
                            flex: 1;
                            background-color:gray
                            padding: 20px;
              }

              /* Style the list inside the menu */
              nav ul {
                            list-style-type: none;
                            padding: 0;
                            font-size: 25px;
                            color: gray;
              }

              /* Style the content */
              article {
                            -webkit-flex: 3;
                            -ms-flex: 3;
                            flex: 3;
                            background-color: white;
                            padding: 10px;
              }

              /* Style the footer */
              footer {
                            background-color:#d7d1c5;
                            padding: 10px;
                            text-align: center;
                            color: white;
              }

              /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
              @media (max-width: 600px) {
                            section {
                                          -webkit-flex-direction: column;
                                          flex-direction: column;
                            }
        }
    ul{
        list-style-type: none;
        margin: 0%;
        padding: 0%;
        overflow: hidden;
        background-color: gray;
        width: 100%;
        }

        li{
            float: right;
            border-right: 1px;
            }
            
            li:last-child{
                border-right: none;
            }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 40px 40px;
            text-decoration: none;
            }

         li a:hover:not(.active) {
          background-color:black;
          }      

          .billedevenstre{
float: left;
width: 25%;
          }
 .teksthøjre{
  float: right;
  width: 40%;   
 }         




        </style>

          
